body
{
	background: url("../images/background.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container
{
	background-color: white;
	border-radius: 10px;
	margin: 3% auto;
    text-align: left;
    padding: 10px;
	-moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
}

#guest-app-section
{
	display: none;
	padding: 0px 60px;
}

.jumbotron
{
	margin: 0px;
}